In [50]:
import pandas as pd
import numpy as np

In [132]:
df = pd.read_csv('diamonds.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [267]:
buyer = df.copy().set_index('carat')
# buyer.loc[0.23].loc['price'] # ERROR
# buyer.iloc[1].iloc[0]  # GET
# buyer.loc['0.23'].price # ERROR
# buyer['price']['0.23'] # ERROR
# buyer['0.23']['price'] # ERROR
buyer

             cut color clarity  depth  table  price     x     y     z
carat
0.23       Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
0.21     Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
0.23        Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
0.29     Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
0.31        Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...          ...   ...     ...    ...    ...    ...   ...   ...   ...
0.72       Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
0.72        Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
0.70   Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
0.86     Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
0.75       Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 9 columns]

In [82]:
# C
df.iloc[1], df.iloc[2] = df.iloc[2], df.iloc[1]
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
2       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [83]:
# D
pd.value_counts(df.values.ravel())

Ideal        21551
Premium      13791
SI1          13065
VS2          12258
Very Good    12082
             ...
10045            1
10042            1
10039            1
3809             1
10.01            1
Length: 12759, dtype: int64

In [69]:
# B
np.array(df)

array([[0.23, 'Ideal', 'E', ..., 3.95, 3.98, 2.43],
       [0.21, 'Premium', 'E', ..., 3.89, 3.84, 2.31],
       [0.23, 'Good', 'E', ..., 4.05, 4.07, 2.31],
       ...,
       [0.7, 'Very Good', 'D', ..., 5.66, 5.68, 3.56],
       [0.86, 'Premium', 'H', ..., 6.15, 6.12, 3.74],
       [0.75, 'Ideal', 'D', ..., 5.83, 5.87, 3.64]], dtype=object)

In [99]:
Series = pd.Series([6,3,4,6])
baru = df.copy()
# df = df.assign(Baru = Series)
# df['Baru'] = Series
# baru.insert(loc=len(baru.columns), column='Baru', value=Series)
baru

       carat        cut color clarity  depth  table   price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1       0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
2       0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
3       0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53936   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64
Baru     NaN        NaN   NaN     NaN    NaN    NaN     NaN   NaN   NaN   NaN

[53941 rows x 10 columns]

In [105]:
# baru.iloc[:2]
# baru.iloc[['0']]
# baru.iloc[0]

   carat    cut color clarity  depth  table  price     x     y     z
0   0.23  Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1   0.23   Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31

In [115]:
# cut = df.groupby('cut').mean().reset_index()
cut = df.groupby('cut', as_index=False).mean()

cut

,cut,carat,depth,table,price,x,y,z
0,Fair,1.046137,64.041677,59.053789,4358.757764,6.246894,6.182652,3.982770
1,Good,0.849185,62.365879,58.694639,3928.864452,5.838785,5.850744,3.639507
2,Ideal,0.702837,61.709401,55.951668,3457.541970,5.507451,5.520080,3.401448
3,Premium,0.891955,61.264673,58.746095,4584.257704,5.973887,5.944879,3.647124
4,Very Good,0.806381,61.818275,57.956150,3981.759891,5.740696,5.770026,3.559801

In [155]:
change = df.copy()
# df.loc[df.index[::-1], df.index[::1]]
# change = change.loc[change.index[::-1], :]
# change = change.iloc[::-1, :]
change

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [186]:
united = df.copy()
# united = united.drop(2)
united

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [209]:
mahal = df.copy()
# mahal[~(mahal['price'] > 334)]
# mahal[mahal.price <= 334]
mahal[(mahal['price'] <= 334)]

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63

In [215]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [224]:
datafra = pd.DataFrame(df)
datalist = pd.DataFrame([1,2,3,4,5])
series = pd.Series([1,2,3,4,5])
dataseries = pd.DataFrame(series)
array = np.full((2,2), 7)
dataarray = pd.DataFrame(array)

In [226]:
df1 = pd.DataFrame({ 'A' : ['koo', 'koo', 'koo', 'koo', 'koo', 'ree', 'ree', 'ree', 'ree'], 'B' : ['Na', 'Na', 'Na', 'Ni','Ni', 'Na', 'Na', 'Ni', 'Ni'], 'C': ['masaka', 'orraa', 'orraa', 'masaka', 'masaka', 'orraa', 'masaka', 'masaka', 'orraa'], 'D': [1,2,2,3,3,4,5,6,7], 'E': [2,4,5,5,6,6,8,9,9]})
df1 = pd.pivot_table(df1, values='D', index=['B', 'A'], columns=['C'], aggfunc='sum')
df1

C       masaka  orraa
B  A
Na koo     1.0    4.0
   ree     5.0    4.0
Ni koo     6.0    NaN
   ree     6.0    7.0

In [243]:
df1 = pd.DataFrame({ 'fruit': ['Apple', 'Pear', 'Durian'], 'price': [4,7, 10], 'quantity': [10,14,2]})
df2 = pd.DataFrame({ 'fruit': ['Apple', 'Durian', 'Grape'], 'weight': [10,20,2]})
df3 = pd.merge(df1, df2, on='fruit', how='outer')
df3

    fruit  price  quantity  weight
0   Apple    4.0      10.0    10.0
1    Pear    7.0      14.0     NaN
2  Durian   10.0       2.0    20.0
3   Grape    NaN       NaN     2.0