In [1]:
import pandas as pd

<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [6]:
# Membuat dataframes dari dictionary

df = pd.DataFrame({ "name": ["apple", "orange"], "color": ["red", "orange"] })

print(df)

name   color
0   apple     red
1  orange  orange

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [9]:
# Membaca data dan memasukannya kedalam suatu variabel
data_csv = pd.read_csv('diamonds.csv')

data_csv

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Jawab:

In [40]:
# code here

print("Tipe data dalam series harus beragam, sedangkan list tidak. Dictionary memiliky keys dan values.\n")

print("Dataframe objek 2 dimensi, sedangkan series 1 dimensi\n")

series = pd.Series([6, 3, 4, 6])
print(series)

Tipe data dalam series harus beragam, sedangkan list tidak. Dictionary memiliky keys dan values.

Dataframe objek 2 dimensi, sedangkan series 1 dimensi

0    6
1    3
2    4
3    6
dtype: int64

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [33]:
# code here

# data_csv["price"].head(1)
# data_csv.iloc[0, 7]
first_price = data_csv.loc[0]["price"]
last_price = data_csv.loc[len(data_csv) - 1]["price"]
print(f"""data pertama price: {first_price},
data terakhir price: {last_price}""")

data pertama price: 326,
data terakhir price: 2757

<h2>Soal 5: Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Jawab: 

bagaimana menjelaskan dan merumuskan suatu data yang biasanya menggunakan dua metode pendekatan yaitu pendekatan kuantitatif dan pendekatan visual.

<h2>Soal 6: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [37]:
# code here

mean = data_csv["price"].mean()
std = data_csv["depth"].std()
maxVal = data_csv["carat"].max()

print(f"""
nilai mean dari price adalah {mean}
nilai standar deviasi dari depth adalah {std}
nilai maximum dari carat adalah {maxVal}
""")

nilai mean dari price adalah 3932.799721913237
nilai standar deviasi dari depth adalah 1.4326213188337733
nilai maximum dari carat adalah 5.01